

<div *ngIf="auth$ | async as auth; else checkStatus">
  <nav class="navbar bg-white border-bottom px-3 py-2">
      <span class="me-auto fw-semibold small">{{ auth.nome }}</span>
      <div class="d-flex gap-2">
      <button class="btn btn-sm btn-outline-secondary" (click)="verPedidos()">Ver Pedidos</button>
      <button class="btn btn-sm btn-outline-secondary" (click)="irPerfil()">Perfil</button>
      <button class="btn btn-sm btn-outline-danger" (click)="sair()">Sair</button>
      </div>  
    </nav>
</div>
    <ng-template #checkStatus>
      
        <div *ngIf="isLoaded; else loading">
          <nav class="navbar bg-white border-bottom px-3 py-2">
            <span class="me-auto fw-semibold small">bem vindo</span>
            <div class="d-flex gap-2">
              <button class="btn btn-sm btn-outline-secondary" (click)="entrar()">Entrar</button>
              <button class="btn btn-sm btn-outline-secondary" (click)="cadastrar()">Cadastro</button>
            </div>
          </nav>
        </div>
    </ng-template>

    <ng-template #loading>
      <nav class="navbar bg-white border-bottom px-3 py-2">
        <span class="me-auto fw-semibold small">verificando credenciais...</span>
        <div class="d-flex gap-2"></div>
      </nav>
    </ng-template>
